*.rar
*.bin
*.lst
*.bim
*.gas
*.obj
*.map
*.sln
*.vcxproj
*.filters
*.user
*.db
*.opendb
.idea
.vs
projects
z_tools
main.cpp
CMakeLists.txt
source/dsctbl.nas
source/graphic.nas
source/bootpack.nas
source/bootpack.hrb
source/vOS.img
source/vOS.sys
